{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'mainapp/images/pixel-last.png' %}" alt="logo" class = "logo">
        <h1>Зарегистрироваться</h1>
        
        
        <!-- Контейнер для полей формы -->
        <div class="form-grid">
            <p>Какой-то текст Какой-то текст Какой-то текст Какой-то текст</p>
            {% for f in form %}
            <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </div>
            {% endfor %}
            <!-- Ссылка на вход -->
        
        <button type="submit">Зарегистрироваться</button>
        <div class = "url"> <p>Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></p>  </div>
        </div>
        
        <!-- Ошибки всей формы -->
        <div class="form-error">{{ form.non_field_errors }}</div>
        
        <!-- Кнопка отправки -->
        
        
        <!-- Ссылка на вход -->
        
    </form>
</body>
</html>