{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>KidCode</title>
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
    <!-- Подключение стилей SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.css">

    <!-- Подключение скрипта SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/mode/python/python.min.js"></script>


    <script src="{% static 'mainapp/js/scripts.js' %}" defer></script>
</head>
<body>
           
            <div class="header">
                
                <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>

                <div id="sidebar">
                    <h1>Выберите задание</h1>
                    <div class = "all_chapter-container" >
                    <ul id="chapter-list"></ul>
                    <a href="{% url 'mainapp:about' %}" class="button">О сайте</a>
                </div>
                </div>

                <a href="{% url 'users:login'%}"><img src="{% static 'mainapp/images/pixel-last.png' %}" alt="logo" class = "logo"></a>
                <p class = "logo_name">KidCode</p>
                <div class = "button-grid">
                <button id="developers" class = "developers">О разработчиках</button>
                <div id="developersModal" class="modal">
                    <div class="modal-content-developers">
                        <span class="close" id="closeDevelopers">&times;</span>
                        <h2 class = "developers_name">Самарский университет.</h2>
                        <h2 class = "developers_name"> Институт информатики и кибернетики</h2>
                        <p id="clueText">Курсовая работа по дисциплине "Программная инженерия"<br> по теме "Разработка обучающей системы по основам алгоритмизации и программирования"<br>
                            Разработчики обучающиеся группы 6403-020302D<br>
                            Мананников М.А.<br>
                            Рыбаков Р.С.<br>
                            Горбачев И.Г.<br>
                            Деревяшкин А.Д.</p>
                        <p>Руководитель: доцент кафедра ПС Зеленко Лариса Сергеевна</p>
                    </div>
                </div>
                {% if user.is_staff %}
                        {% for item in menu %}
                            <a href="{% url item.url_name %}" class="button">{{ item.title }}</a>
                        {% endfor %}
                {% else %}
                    {% for item in menu %}
                        {% if item.title == "Профиль" %}
                            <a href="{% url item.url_name %}" class="button">{{ item.title }}</a>
                        {% endif %}
                    {% endfor %}
                    
                {% endif %}
                </div>
            </div>
        </div>
        {% block content %}
        
        {% endblock %}      
</body>
</html>
