{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>KidCode</title>
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
</head>
<div class = "body">
<body>
    <tr>
        <td>
            {% block menu %}
            <div class="header">
                <ul>
                    {% if user.is_staff %}
                        
                        {% for item in menu %}
                        <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        
                        {% for item in menu %}
                        {% if item.title == "Профиль" %}
                            <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    </ul>
                      
            </div>
            {% endblock menu %}
            <div class="content-text">
                {% block content %}
                
                {% endblock %}
            </div>
        </td>
    </tr>
</body>
</div>
</html>
