{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    p{
        text-wrap:wrap;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif, monocraft;
        background-color: #292F31;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }
    .task-container {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        position: absolute;
        left: 0px;
        top: 75px;
        background-color: #22231E;
        width: 500px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 5000px;
    }
</style>
<div class="task-container">
   
        <ul>
            <li><a href="#vved">Введение</a></li>
            <ul>
                <li><a href="#system">Назначение системы</a></li>
                <li><a href="#cond">Условия работы системы</a></li>
                <ul>
                    <li>
                        <a href="#condTech"
                            >Требования к техническому обеспечению</a
                        >
                    </li>
                    <li>
                        <a href="#condProg"
                            >Требования к программному обеспечению</a
                        >
                    </li>
                </ul>
                <li><a href="#load">Установка системы</a></li>
            </ul>
            <li><a href="#work">Работа с системой</a></li>
            <ul>
                <li><a href="#auth">Авторизация</a></li>
                <li>
                    <a href="#admin"
                        >Работа с системой в режиме учителя</a
                    >
                </li>
                <ul>
                    <li><a href="#gallery">Работа с журналом</a></li>
                </ul>
                <li>
                    <a href="#player">Работа с системой в режиме ученика</a>
                </li>
                <ul>
                    <li><a href="#regist">Регистрация ученика</a></li>
                    <li><a href="#task">Страница задания</a></li>
                    <li><a href="#profile">Страница профиля</a></li>
                </ul>
            </ul>
            <li><a href="#info">Справочная игформация</a></li>
            <ul>
                <li><a href="#creators">Информация о разработчиках</a></li>
            </ul>
        </ul>
  
</div>
<div style="margin: 0 auto; margin-left: 200px; margin-right: 200px; position: absolute; top: 76px; left: 400px; text-align: center;">
    <h1>Описание веб-приложения</h1>

    <div>
        <div id="vved">
            <h2>Введение</h2>
            <div id="system">
                <h3>Назначение системы</h3>
                <p>
                    Веб-приложение «KidCode» с функциями учителя
                    предназначена для составления игровых полей в соответствии с
                    выбранным уровнем сложности.
                </p>
                <p>
                    В системе реализовано две роли пользователей: учитель
                    и ученик.
                </p>
                <p>
                    Основные задачи учителя – настройка параметров игрового
                    поля, создание игрового поля по выбранному уровню сложности,
                    проверка кода учеников и выставления им оценок.
                    Ученик может загрузить игровое поле, написать к нему код
                </p>
                <p>
                    В веб-приложении также есть возможность получения справочной
                    информации как о самом приложении, так и о разработчиках.
                </p>
            </div>
            <div id="cond">
                <h3>Условия работы системы</h3>
                <h4 id="condTech">Требования к техническому обеспечению:</h4>
                <p>1 Требования к техническому обеспечению серверной части:</p>
                <ul>
                    <li>Тип ЭВМ – IBM PC совместимый;</li>
                    <li>Объем ОЗУ – не менее 5 Гб;</li>
                    <li>
                        Объем свободного пространства на внешнем диске – не
                        менее 25 Гб;
                    </li>
                    <li>Наличие подключения к сети Интернет;</li>
                    <li>Манипулятор – мышь;</li>
                    <li>Процессор – AMD Ryzen 3 4300U не менее 2.70 ГГц;</li>
                    <li>Дисплей с разрешением не менее 1024 × 768 пикселей;</li>
                    <li>Операционная система Windows 10 и выше.</li>
                </ul>
                <p>2 Требования к техническому обеспечению клиентской части:</p>
                <ul>
                    <li>Тип ЭВМ – IBM PC совместимый;</li>
                    <li>Объем ОЗУ – не менее 5 Гб;</li>
                    <li>
                        Объем свободного пространства на внешнем диске – не
                        менее 21 Гб;
                    </li>
                    <li>
                        Монитор с разрешающей способностью не ниже 1024 × 768;
                    </li>
                    <li>Процессор – AMD Ryzen 3 4300U не менее 2.70 ГГц;</li>
                    <li>Манипулятор – мышь;</li>
                    <li>Операционная система Windows 10 и выше.</li>
                </ul>

                <h4 id="condProg">Требования к программному обеспечению:</h4>
                <p>1 Требования к программному обеспечению серверной части:</p>
                <ul>
                    <li>Расширение для C# 2.55.29 и выше;</li>
                    <li>Расширения C# Dev Kit 1.14.14 и выше;</li>
                    <li>.NET Install Tool 2.2.3 и выше;</li>
                    <li>EntityFramework 6 и выше;</li>
                    <li>PostgreSQL 16 и выше.</li>
                </ul>
                <p>2 Требования к программному обеспечению клиентской части:</p>
                <ul>
                    <li>Браузер Google Chrome 131.0.6778.205 и выше;</li>
                    <li>Node.js 20.10.0 и выше;</li>
                    <li>React 18.3.1 и выше;</li>
                </ul>
            </div>
            <div id="load">
                <h3>Установка системы</h3>
                <p>
                    Для запуска веб-приложения необходимо либо склонировать
                    репозиторий с GitHub, либо получить необходимые файлы в виде
                    zip-архива.
                </p>
                <p>
                    1. Перейти в папку kidcode
                    2. Установить виртуальное окружение python -m venv venv
                    3. Активировать виртуальное окружение .\venv\Scripts\activate
                    4. Перейти в следующую папку kidcode и установить пакеты командой pip install -r requirements.txt
                    5. Запуск проекта python manage.py runserver
                </p>
            </div>
        </div>
        <div id="work">
            <h2>Работа с системой</h2>
            <div>
                {% comment %} <h3 id="nav">Навигация</h3>
                <p>
                    С помощью кнопок и лого сайта на вверху страницы
                    пользователи могут переходить между различными страницами.
                    На "шапке" соответсвенно расположены лого (для перехлда на
                    авторизацию), навигационная кнопка, ссылка для перехода на страницу
                    конструктора и ссылка для перехода на страницу профиля.
                </p>
                <img src="{% static 'mainapp/images/8.png' %}" alt="logo" widht="100"> {% endcomment %}
                <h3 id="auth">Авторизация</h3>
                <p>
                    Для входа в аккаунт (учителя или ученика) необходимо
                    выбрать роль и заполнить форму авторизации, представленную ниже, которая
                    расположена на странице авторизации
                </p>
                
                <p>
                    Пользователь должен заполнить поля "Введите email" и
                    "Введите пароль". Если пользователь вводит запрещенные
                    символы, то под полем будет располагаться соответствующее
                    сообщение (см. рисунок ниже).
                </p>
                <img src="{% static 'mainapp/images/1.png' %}" alt="logo" >
                <p>
                    После нажатия на кнопку "Войти" осуществляется проверка
                    введённых данных, при успешном завершении которой
                    авторизованный пользователь перенаправляется на страницу
                    профиля.
                </p>
                <p>
                    В случае, если введён несуществующий логин или неправильный
                    пароль, то пользователь увидит сообщение об ошибке.
                </p>
                
            </div>
            <div id="admin">
                <h3>Работа с системой в режиме учителя</h3>
                <p>
                    На рисунке снизу представлена страница конструктора.
                </p>
                <img src="{% static 'mainapp/images/2.png' %}" alt="logo" >
                <p>
                    На данной странице учителю будет предложено два варианта создания задания: автоматически или вручную. 
                    При нажатии на кнопку «Автоматически» для генерации игрового поля учитель должен задать уровень сложности задания. 
                    Далее ввести текст задания и нажать кнопку «Сгенерировать». Если генерация прошла успешно, требуется нажать на кнопку «Сохранить».
                     В случае, если поля введены некорректно, то учитель должен нажать кнопку «Очистить» для удаления данных в полях.
                </p>
                

                <p>
                    По нажатию на кнопку «Вручную», учителю требуется ввести параметры игрового поля, выбрать шаблоны, выбрать уровень сложности и ввести текст задания. 
                    После заполнения полей, учителю требуется нажать кнопку «Сохранить». Если генерация произошла успешно, то задание сохраняется в БД. 
                    В случае, если поля введены некорректно, то учитель должен нажать кнопку «Очистить» для удаления данных в полях.
                </p>
                
                <h4 id="gallery">Работа с журналом</h4>
                <p>
                   Для работы с журналом учитель должен перейти в профиль, нажав на соответствующую кнопку,
                   а затем выбрать пункт меню "Журнал", где учитель может увидеть все отправленные учениками
                   задания, увидеть дату сдачи и открыть загруженный ими код.
                </p>
                <img src="{% static 'mainapp/images/3.png' %}" alt="logo" >
            </div>
            <div id="player">
                <h3>Работа с системой в режиме ученика</h3>
                <h4 id="regist">Регистрация ученика</h4>
                <p>
                    На рисунке ниже изображена страница регистрации нового
                    ученика.
                </p>
                <img src="{% static 'mainapp/images/4.png' %}" alt="logo" >
                <p>
                    В основной части представлена форма для регистрации нового
                    ученика. После ввода почты, имени,  пароля и нажатия на кнопку
                    «Зарегистрироваться» осуществляется проверка введённых
                    данных, после которой пользователь проходит регистрацию и
                    перенаправляется на страницу профиля. В случае, если введены некорректные данные, пользователь
                    увидит подсказки под полями (см. рисунок ниже).
                </p>
                <h4 id="task">Страница задания</h4>
                <p>
                    На данном рисунке представлена страница задания. В шапке распологаются такие элементы, как всплывающее меню, 
                    через которое пользователь может перейти в интересубющее его задание, выбрав главу и уровень в этой главе. Также
                    пользователь может просмотреть справочную информацию о разработчиках, нажав однноименную кнопку.
                    Клик по кнопке "Профиль" позволяет перейти в детали профиля. Если пользователь является учителем - он имеет
                    доступ к конструктору. В боковом меню есть форма, на которой расположена информация о текущем задании, кнопки "Назад" 
                    и "Вперёд" для перехода по заданиям в текущей главе, окно для ввода команд и кнопки "Запуск кода", "Очистить" и "Отправить".
                    В основной части страницы расположено игровое поле, с которым взаимодействует пользователь, путем ввода команд.
                </p>
                <img src="{% static 'mainapp/images/6.png' %}" alt="logo" >
                <h4 id="profile">Страница профиля</h4>
                <p>
                    На странице детали профиля расположена форма для изменения данных учётной записи. Пользователь может поменять
                    имя и пароль, нажав на кнопку "Сохранить". Наравне с формой в левой части страницы расположено боковое меню, из которого
                    пользователь может перейти в журнал, если он учитель, в успеваемость, если он ученик, а также совершить выход из аккаунта,
                    кликнув по соответсвующей кнопке.
                </p>
                <img src="{% static 'mainapp/images/7.png' %}" alt="logo" >

            </div>
            <div id="info">
                <h2>Справочная информация</h2>
                <div id="creators">
                    <h3>Информация о разработчиках</h3>
                    <p>
                        Для получения информации о разработчиках проекта,
                        пользователю необходимо нажать на кнопку "О
                        разработчиках" на шапке страницы. После этого отобразится
                        модальное окно с информацией, представленное ниже.
                    </p>
                    <img src="{% static 'mainapp/images/5.png' %}" alt="logo" >
                </div>
            </div>
        </div>
        <button id="backToTop" style = "position: sticky; z-index:1000;">Наверх</button>

        <script>
            const backToTopButton = document.getElementById("backToTop");
            window.addEventListener("scroll", () => {
                if (window.scrollY > 300) {
                    backToTopButton.style.display = "block";
                } else {
                    backToTopButton.style.display = "none";
                }
            });
            backToTopButton.addEventListener("click", () => {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth",
                });
            });
        </script>
    </div>

    <p>&copy; 2024 Веб-приложение для образовательных целей</p>
</div>

{% endblock %}
