{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'mainapp/js/gamefield.js' %}" defer></script>


<div class = "gamefield-settings">
    <h1>Конструктор игрового поля</h1>
    <h2 class = "h2-settings">Выберите способ создания</h2>
    <div class="mode-selection">
        <button class = 'main' type="button" id="autoButton">Автоматический</button>
        <button class = 'main' type="button" id="manualButton">Ручной</button>
    </div>
    <hr>
<form method="post", class="settings" id="manualForm">
    {% csrf_token %}
    
    <h2 class="h2-settings">Параметры игрового поля</h2>
    
    {% for field in fields_form %}
        <label class="label-settings" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
        {{ field }}<br>
        {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}
    <hr>

    <div id="templates">
        <img src="{% static 'mainapp/images/pixel-last.png' %}" class="template" draggable="true" id="template1" data-type = "player">
        <img src="{% static 'mainapp/images/cube.png' %}" class="template" draggable="true" id="template2" data-type="cube">
        <img src="{% static 'mainapp/images/hole.png' %}" class="template" draggable="true" id="template3" data-type="hole">
        <img src="{% static 'mainapp/images/block.png' %}" class="template" draggable="true" id="template4" data-type="block">
        <img src="{% static 'mainapp/images/goal.png' %}" class="template" draggable="true" id="template5" data-type="goal">
    </div>
    <hr>
    <script>
        const cubeImage = "{% static 'mainapp/images/cube.png' %}";
        const holeImage = "{% static 'mainapp/images/hole.png' %}";
        const blockImage = "{% static 'mainapp/images/block.png' %}";
        const playerImage = "{% static 'mainapp/images/pixel-last.png' %}";
        const goalImage = "{% static 'mainapp/images/goal.png' %}";
    
    
    </script>
  
</form>


    <form method="post" class = "settings-text" id="textForm" >
        {% csrf_token %}
        <h2 class="h2-settings">Текст задания</h2>
    {% for field in task_form %}
        <label class="label-settings" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
        {{ field }}<br>
        {% if field.errors %}
            <div style="color: red;">
                {{ field.errors }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="buttons">
        <button type="submit" class="main" id = "savemanual">Сохранить</button>
        <button type="submit" class="main" id = "saveauto" style="display: none;">Сохранить</button>
        <button type="reset" class="clear">Очистить</button>
        <button type = "button" class="reset" id = "generateButton" style="display: none;">Генерация</button>
    </div>
</form>
</div>
<canvas id="gameCanvas" width="500" height="500"></canvas>  

{% endblock %}


