{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include  'mainapp/includes/leftbar.html' %}
<script src="{% static 'mainapp/js/messages.js' %}"></script>
<h1 class = "h">Журнал</h1>
<form method="get" enctype="multipart/form-data" class = "filter">
  {% csrf_token %}
  <div class="filter-grid">
    {% for f in form %}
      <div class="filter-group">
        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
        {{ f }}
       <!-- <div class="form-error">{{ f.errors }}</div>/!-->
      </div>
    {% endfor %}
    <!--<div class="form-error">{{ form.non_field_errors }}</div>/!-->
            
    <button type="submit" class = "main">Фильтр</button>
  </div>
</form>


<div class="table-container">
  <table class="journal-table">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>ID Уровня</th>
        <th>Название уровня</th>
        <th>Дата сдачи</th>
        <th>Статус</th>
        <th>Оценка</th>
        <th>Код</th>
        <th>Task id</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in journal_data %}
        <tr data-grade-id="{{ entry.grade_id }}">  <!-- Добавлен data-grade-id -->
          <td>{{ entry.name }}</td>
          <td>{{ entry.task_id }}</td>
          <td>{{ entry.level }}</td>
          <td>{{ entry.submission_date }}</td>
          <td>
            {% if entry.status == 'sended' %}
              <span class="status success">✔</span>
            {% else %}
              <span class="status fail">✖</span>
            {% endif %}
          </td>
          <td>
            <select class="grade-select" data-grade-id="{{ entry.grade_id }}"> <!-- data-grade-id added here as well -->
              <option value="pass" {% if entry.grade == 'pass' %}selected{% endif %}>Зачет</option>
              <option value="fail" {% if entry.grade == 'fail' %}selected{% endif %}>Незачет</option>
            </select>
          </td>
          <td>
            <button class="download-btn" task-id="{{ entry.task_id }}" user-id="{{ entry.user_id }}">⬇</button>
            {% comment %} <button class="download-btn"></button> {% endcomment %}
          </td>
          <td>{{ entry.task_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="popup-message" class="popup hidden">
  <p id="popup-text"></p>
</div>

<script type="application/json" id="messages-json">
  [
      {% for message in messages %}
          "{{ message|escapejs }}"{% if not forloop.last %}, {% endif %}
      {% endfor %}
  ]
</script>

<script>
  const messages = JSON.parse(document.getElementById('messages-json').textContent);
  messages.forEach(message => {
      showPopup(message);
  });
  document.querySelectorAll('.download-btn').forEach(button => {
    button.addEventListener('click', function() {
      
      const taskId = this.getAttribute('task-id');
      const userId = this.getAttribute('user-id');
      console.log(taskId); // Получаем ID уровня
      const url = `/sended_task/${taskId}/${userId}`; // Указываем путь к вашему представлению

      // Переход на страницу с деталями
      window.location.href = url; 
    });
  });
</script>
<script>
  
</script>
<script src="{% static 'mainapp/js/update_grade.js' %}"></script>
{% endblock %}