{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include  'mainapp/includes/leftbar.html' %}
<script src="{% static 'mainapp/js/messages.js' %}"></script>

<h1 class = "h">Детали профиля</h1>

<form method="post"  enctype="multipart/form-data" class = "change">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <label class="password-label" for="{{ f.id_for_label }}">{{f.label}} </label>{{ f }}
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}    

    <button type="submit" class="main">Сохранить</button>
    
</form>

{% endblock %}