{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="task-container">
    <div class = "task-change">
        <h1>Название курса</h1>
    
        <a href="#" class="button back">Назад</a>
        <a href="#" class="button forward">Вперед</a>

        <p>
            {{ task.chapter }}<span class="arrow">&#8250;</span>{{task.level}}
        </p>
    </div>
    <hr>
    <h1>Глава: {{ task.chapter }}</h1>
    <h2 >Уровень: {{ task.level }}</h2>
    <h2>Сложность: <span class="difficulty">{{ task.difficult }}</span></h2>
    <p>{{ task.text_exercise }}</p>
    <p>Дедлайн: {{ task.deadline }}</p>
    <div class="code-editor">
        <h3>Попробуйте!</h3>
        <div class = "code-buttons">
        <button id = "startButton" ><i class="fa fa-play" ></i>Запуск кода</button>
        <button id = "clearButton" class = "other-btn"><i class="fa fa-refresh" ></i>Очистить</button>
        <button id = "sendButton" class = "other-btn"><i class="fa fa-paper-plane" ></i>Отправить</button>
        </div>
        <textarea id="code-input" class="code-area" placeholder="Введите код здесь">{{ user_code }}</textarea>
        <div>
            <p>Координаты игрока: <span id="player-coordinates"></span></p>
        </div>
        <p>Player ID: {{ player.user_id }}</p>
    </div>
</div>

<div class="game-area">
    <canvas id="gameCanvas" ></canvas>
</div>

<script>
    const playerId = "{{ player.user_id }}";  <!-- используем переданное значение player.id -->
    const playerX = "{{ player.x }}";
    const playerY = "{{ player.y }}";
    console.log(playerX, playerY);
</script>

<div class="top-buttons">
    <button id="clueButton" class="btn">Подсказка</button>
    <button id="guideButton" class="btn">Учебник</button>
</div>


<div id="clueModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeClue">&times;</span>
        <h2>Подсказка</h2>
        <p id="clueText">Загрузка подсказки...</p>
    </div>
</div>


<div id="manualModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeManual">&times;</span>
        <h2>Учебник</h2>
        <p>Тут будет большая документация по коду и возможностям игрока
            Тут будет большая докментация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
            Тут будет большая документация по коду и возможностям игрока
        </p>
    </div>
</div>



<script src="{% static 'mainapp/js/task.js' %}" defer></script>
{% endblock %}