{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="task-container">
    <div class = "task-change">
        <h1>Название курса</h1>
        {% if prev_task %}
        <a href="{% url 'mainapp:task' pk=prev_task.id %}" class="button back">Назад</a>
        {% endif %}
        {% if next_task %}
        <a href="{% url 'mainapp:task' pk=next_task.id %}" class="button forward">Вперед</a>
        {% endif %}

        
        

        <p>
            {{ task.chapter }}<span class="arrow">&#8250;</span>{{task.level}}
        </p>
    </div>
    <hr>
    <h1>Глава: {{ task.chapter }}</h1>
    <h2 >Уровень: {{ task.level }}</h2>
    <h2>Сложность: <span class="difficulty">{{ task.difficult }}</span></h2>
    <p>{{ task.text_exercise }}</p>
    <p>Дедлайн: {{ task.deadline }}</p>
    <div class="code-editor">
        <h3>Попробуйте!</h3>
        <div class = "code-buttons">
            <button id = "startButton" ><i class="fa fa-play" ></i>Запуск кода</button>
            <button id = "clearButton" class = "other-btn"><i class="fa fa-refresh" ></i>Очистить</button>
            <button id = "sendButton" class = "other-btn"><i class="fa fa-paper-plane" ></i>Отправить</button>
            </div>
        <textarea id="code-input" class="code-area" placeholder="Введите код здесь">{{ user_code }}</textarea>
        <div>
            <p>Координаты игрока: <span id="player-coordinates"></span></p>
        </div>
        <p>Player ID: {{ player.user_id }}</p>
        
    </div>
</div>

<div class="game-area">
    <canvas id="gameCanvas" ></canvas>
</div>

<script>
    const playerId = "{{ player.user_id }}";  <!-- используем переданное значение player.id -->
    let playerX = "{{ player.x }}";
    let playerY = "{{ player.y }}";
    console.log(playerX, playerY);
    const editor = CodeMirror.fromTextArea(document.getElementById('code-input'), {
    mode: 'python',
    lineNumbers: true,
    theme: 'dracula',
    matchBrackets: true,
    autoCloseBrackets: true,
    tabSize: 4,
    lineWrapping: true
  });
</script>

<style>
    /* Стили для редактора CodeMirror */
    .CodeMirror {
      height: 200px; /* Устанавливаем высоту редактора */
      font-family: 'Courier New', Courier, monospace; /* Устанавливаем моноширинный шрифт */
      font-size: 16px; /* Размер шрифта */
      background-color: #292F31; /* Темный фон редактора */
      color: #f8f8f2; /* Цвет текста */
    }
    .CodeMirror-cursor {
    border-left: 2px solid #ffffff; /* Цвет и стиль курсора (например, фиолетовый) */
  }
 
  
    /* Изменение стилей строковых литералов */
    .cm-string {
      color: #98c379; /* Задаем зеленый цвет для строковых литералов */
    }
  
    /* Стили для номера строки */
    .CodeMirror-gutter {
      background: #2d2d2d;
      color: #888;
    }
  </style>

<div class="top-buttons">
    <button id="clueButton" class="btn">Подсказка</button>
    <button id="guideButton" class="btn">Учебник</button>
</div>


<div id="clueModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeClue">&times;</span>
        <h2>Подсказка</h2>
        <p id="clueText">Загрузка подсказки...</p>
    </div>
</div>


<div id="manualModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeManual">&times;</span>
        <h2>Учебник</h2>
        <p>move_left() - движение влево</p>
        <p>move_right() - движение вправо</p>
        <p>move_up() - движение вверх</p>
        <p>move_down() - движение вниз</p>
        <p>for _ in range(n):
            move_down()
            move_right() 
        - движение вверх и вправо n раз</p>
    </div>
</div>



<script src="{% static 'mainapp/js/task.js' %}" defer></script>
{% endblock %}