<div class="content-text">
<h1>Профиль</h1>
{% if user.is_authenticated %}
				<li class="last">{{user.email}}</li>
{% endif %}

        <li><a href = "{% url 'mainapp:profile' %}" class="profile_btn">Детали профиля</a></li>
    {% if user.is_staff %}       
        <li><a href="{% url 'mainapp:journal' %}" class="profile_btn">Журнал</a></li>       
    {% else %}
        <li><a href="{% url 'mainapp:record' %}" class="profile_btn">Успеваемость</a></li>       
    {% endif %}

<a href="{% url 'users:logout' %}" class="profile_btn">Выйти</a>
</div>